@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
	 font-family: "Shantell Sans", serif;
	;
}

.bodybg {
	background-color: #00000030;
	color: #421c45;
		}
main.py-4 {
	background-color: #a79797;
	max-width: 1100px;
	padding: auto;
	margin: auto;
	border: solid 5px;
	outline-offset: -5px;
	outline: 1px solid;
}
	.py-4 a, .crumbs a{
		color:  #421c45;
	}
	.py-4 a:hover, .crumbs a:hover {
		color:  #421c45;
	}
nav.navbar {
	max-width: 1100px;
	background-color: #786969;
	color: #421c45 !important;
			border: solid 2px;
	}

	nav.navbar a {
		color: #421c45 !important;
	}

	nav.navbar a:hover {
		color: #000000 !important;
	}
.crumbs {
	background-color: #786969;
			max-width: 1100px;
	margin: auto;
	color: #421c45;
		border: solid 2px;
	}
.crumbs a {
		color: #421c45 !important;
	}
.pagination a {
	color: #421c45;
	border: solid 1px;
}
.pagination-goto {
	color: #421c45;
}

	.datebg {
	background-color:#786969;
			border: solid 2px;
	text-align: center;
		color: #421c45;
	}
.post-content.blog_total_counter {
height: 200px;
display: block;
 background: url no-repeat center, #4529299c;
    background-size: cover;
font-size:0;
}
.post-content.blog_total_counter h2 {
font-size:0;
}
.post-text {
font-size: 13px; 
color: #530159; 
}

.post-text a {
color: ##650d6c;
}

.post-opt a,
.post-opt span {
color: #421c45;
font-weight: bold;
}

a.post-title {
color: #36074d;
}

a.user.post-title-user {
color: #421c45;
}
.post-title-date {
	color: #421c45;
}


.post-content {
		background-color: #786969;
	border: solid 2px;
	margin: 5px;
	}
.comment-content {
	background-color: #786969;
	border: solid 2px;
	margin: 5px;
	}
.blog__about:before {
    content: '';
    display: block;
    height: 100px;
    background-color: #78647ed4;
    background-size: cover;
margin-bottom: 5px;
border-top: 3px solid;
border-bottom: 3px solid;
} 
 .blog__about h3.left-menu-text {
    display: none;
}
div.left-menu {
	width: 25%;
	padding: 5px;
	height: 30%;
	margin: 5px 5px 5px;
			color: #030303;
	border: solid 2px;
	border-color: #000000;
	}
h3.left-menu-text {
		background-color: #8c798b !important;
	text-align: center;
	color: #421c45;
	}
.left-menu a {
color: #421c45;
}
.left-menu-text input[type="text"] {
	width: 170px;
	margin-bottom: 5px;
}
.textareabg {
	background-color: #786969;
	border: solid 2px;
	margin: 5px;
		}
textarea {
	background-color: #8d818db5;
	border: solid 2px;
	margin: 5px;
}
  .avatar-select-list {
	  background-color: #625267;
  }
.avatar-select-label {
margin:2px;
width: 100px;
border: 3px solid #6b5a68;
 transition: 0.2s;
}

.avatar-select-label-selected {
opacity: 1;
border: 3px solid #370633;
 box-shadow: 0px 0px 3px 0px #c3a9a987;
 transition: 0.2s;
}

.container-fluid.mt-5 {
    margin-top: 5px !important;
	
}
.textareabg input[type="text"] {
	width: 200px;
	position: relative;
	bottom: 18px;
}
.textareabg select {
	width: 200px;
}
.textareabg input[type="submit"] {
	margin: 5px;
	margin-top: 0px !important;
}

 select,
input ,
.textareabg input[type="submit"],
.left-menu-text input[type="text"],
.left-menu-text input[type="submit"], 
button.btn.btn-secondary, 
button.btn.btn-primary {
   background: #baa8c5;
   border: 4px double #000000;
   color: #000000;
   font-size: 12px;
   text-transform: uppercase;
   transition: 0.4s;
	
}

 select:hover,
input:hover,
.textareabg input[type="submit"]:hover,
.left-menu-text input[type="text"]:hover,
.left-menu-text input[type="submit"]:hover, 
button.btn.btn-secondary:hover, 
button.btn.btn-primary:hover {
    background: #d1c4d3;
    border: 4px double #000000;
    box-shadow: 0px 0px 2px 0px #45090947;
    color: #000000;
    transition: 0.4s;
}
::-webkit-scrollbar {
    width: 10px;
	border: solid 1px;
	border-color: #4f0861;
	background-color: #bdb8be;
}

::-webkit-scrollbar-thumb {
    border-left: 2px solid #41074b;
    border-right: 2px solid #540562;
    border-radius: 30px!important;
}

::-webkit-scrollbar-thumb:hover {
    border-left: 2px solid #401f1f70;
    border-right: 2px solid #00000070;
}
.avatars-fullscreen-link-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #6c637d;
	a {
		color: #825c89;
	}	
}
.modal-content {
		background-color: #7e6d7c;
	a {
	color: #6a3874;
}
	}
#usermenu {
	background-color: #7e6d7c;

}
#usermenu a {
	color: #421c45;
}
[href="#footer"] { 
    background: #b49db1;
    outline-offset: -6px;
    outline: 1px solid #49025359;
    padding: 5px!important;
    color: #2c0943;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    position: fixed;
    bottom: 460px;
    right: 10px;
    width: 95px;
    height: 28px;
    z-index: 1000;
    transition: .4s;

}
[href="#footer"]:hover { 
    background: #c4a3ce;
    outline: 1px solid #a88bb8;
    box-shadow: 0px 0px 8px 2px #735475f2;
    color: #2c0943;
    font-size: 13px;
    transition: 0.4s;
}
 
[onclick="window.scroll({top: 0,behavior: 'smooth'})"] {
    background: #b49db1;
    outline-offset: -6px;
    outline: 1px solid #49025359;
    padding: 5px;
    color: #5a4359;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    position: fixed;
    bottom: 500px;
    right: 10px;
    width: 95px;
    height: 28px;
    z-index: 1000;
    transition: .4s;
}

 [onclick="window.scroll({top: 0,behavior: 'smooth'})"]:hover { 
    background: #c4a3ce;
    outline: 1px solid #a88bb8;
    box-shadow: 0px 0px 8px 2px #735475f2;
    color: #2c0943;
    font-size: 13px;
    transition: 0.4s;
}

